.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.idea/
.vscode/
*.iml
*.suo
*.user
*.userossc
*.swp
*.swo
*~
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
CTestTestfile.cmake
Testing/